# 1.- CREACI√ìN DE SERIES A PARTIR DE UNA LISTA

## üìå EJEMPLO 1: Series con textos

In [ ]:
# Importamos la librer√≠a pandas
import pandas as pd

In [ ]:
# Serie con textos, tipo por defecto "object"
s = pd.Series(['Matem√°ticas', 'Historia', 'Econom√≠a', 'Programaci√≥n', 'Ingl√©s'])
print(s)

In [ ]:
# Serie con textos, pero forzando tipo "string" de pandas
s = pd.Series(['Matem√°ticas', 'Historia', 'Econom√≠a', 'Programaci√≥n', 'Ingl√©s'], dtype='string')
print(s)

In [ ]:
# Diferencia: una usa object (Python), la otra string (pandas)

## üìå EJEMPLO 2: Series con √≠ndices y n√∫meros

In [ ]:
# √çndices personalizados (nombres de estudiantes)
indice = ["Juan", "Maria", "Francisco", "Pedro", "Luis"]

In [ ]:
# Valores asociados (notas de los estudiantes)
datos_lista = [40, 20, 36, 34, 20]

In [ ]:
# Serie con datos, √≠ndice asignado y tipo entero de 64 bits
serie = pd.Series(datos_lista, index=indice, dtype="i8")

In [ ]:
print(serie)

In [ ]:
# Resultado: cada nombre funciona como √≠ndice y cada nota como valor

# 2.- CREACI√ìN DE SERIES A PARTIR DE UN DICCIONARIO

In [ ]:
s = pd.Series({'Matem√°ticas': 6.0,  'Econom√≠a': 4.5, 'Programaci√≥n': 8.5})
print(s)

In [ ]:
datos_dicc = {"Juan":40, "Maria":20, "Francisco":36, "Pedro":34, "Luis":20}
serie = pd.Series(datos_dicc)
print(serie)

# 3.- ATRIBUTOS DE UNA SERIE

## üìå EJEMPLO 4: SERIE CON N√öMEROS REPETIDOS

In [ ]:
# Serie con n√∫meros repetidos
s = pd.Series([1, 2, 2, 3, 3, 3, 4, 4, 4, 4])

In [ ]:
# N√∫mero de elementos en la Serie
print(s.size)
# √çndices de la Serie (posici√≥n de cada elemento)
print(s.index)
# Tipo de datos de la Serie
print(s.dtype)
# Valores de la Serie en forma de array de NumPy
print(s.values)

## üìåEJEMPLO 5: SERIE CON √çNDICE PERSONALIZADO

In [ ]:
# Serie con √≠ndice personalizado (nombres) y valores (notas)
indice = ["Juan", "Maria", "Francisco", "Pedro", "Luis"]
datos_lista = [40, 20, 36, 34, 20]
serie = pd.Series(datos_lista, index=indice, dtype="i8")

In [ ]:
# N√∫mero de elementos en la Serie
print(serie.size)
# √çndices de la Serie (los nombres de los estudiantes)
print(serie.index)
# Tipo de datos de la Serie
print(serie.dtype)
# Valores de la Serie en forma de array de NumPy
print(serie.values)

# 4.- ACCESO A LOS ELEMENTOS DE UNA SERIE

## üìåEJEMPLO 6: ACCESO A LOS ELEMENTOS DE UNA SERIE

In [ ]:
# Lista con los nombres de los estudiantes (√≠ndice de la Serie)
indice = ["Juan", "Maria", "Francisco", "Pedro", "Luis"]
# Lista con las calificaciones asociadas
datos_lista = [40, 20, 36, 34, 20]
# Creamos una Serie con √≠ndices personalizados y valores num√©ricos
serie = pd.Series(datos_lista, index=indice, dtype="i8")

In [ ]:
# Recorrer la Serie mostrando solo los valores (notas)
for elemento in serie:
    print(elemento)

In [ ]:
# Otra forma de acceder solo a los valores, usando .values (array de NumPy)
for elemento in serie.values:
    print(elemento)

In [ ]:
# Recorrer la Serie mostrando solo los √≠ndices (nombres)
for indice in serie.index:
    print(indice)

In [ ]:
# Recorrer la Serie mostrando √≠ndice y valor juntos (nombre y nota)
for indice in serie.index:
    print(indice, serie[indice])

# 5.- ACCESO A LOS ELEMENTOS DE UNA SERIE - POR POSICI√ìN Y POR √çNDICE

## üìåEJEMPLO 7: ACCESO A LOS ELEMENTOS DE UNA SERIE ‚Äì POR POSICI√ìN Y POR √çNDICE

In [ ]:
# Creamos una Serie a partir de un diccionario (asignatura ‚Üí nota)
s = pd.Series({'Matem√°ticas': 6.0,  'Econom√≠a': 4.5, 
               'Programaci√≥n': 8.5,'Idioma': 6.5, 'Inform√°tica': 6.5})

In [ ]:
# Acceso por rango de posiciones (del √≠ndice 1 al 2, la 3 no se incluye)
print(s[1:3])  

# Acceso por posici√≥n: muestra el valor en la posici√≥n 3
print(s[3])  

# Acceso por etiqueta: muestra la nota asociada a "Econom√≠a"
print(s['Econom√≠a'])  

# Acceso por lista de etiquetas: muestra las notas de "Programaci√≥n" y "Matem√°ticas"
print(s[['Programaci√≥n', 'Matem√°ticas']])

# 6.- FUNCIONES ESTAD√çSTICAS B√ÅSICAS

In [ ]:
import pandas as pd
s = pd.Series([1, 1, 1, 1, 2, 2, 2, 3, 3, 4])

In [ ]:
# N√∫mero de valores no nulos (tama√±o muestral)
print(s.count())

In [ ]:
# Suma total de los valores
print(s.sum())

In [ ]:
# Suma acumulada (va sumando elemento a elemento)
print(s.cumsum())

In [ ]:
# Frecuencias absolutas (cu√°ntas veces aparece cada valor)
print(s.value_counts())

In [ ]:
# Frecuencias relativas (proporciones respecto al total)
print(s.value_counts(normalize=True))

In [ ]:
# Valor m√≠nimo de la Serie
print(s.min())

In [ ]:
# Valor m√°ximo de la Serie
print(s.max())

In [ ]:
# Media aritm√©tica
print(s.mean())

In [ ]:
# Varianza (medida de dispersi√≥n)
print(s.var())

In [ ]:
# Desviaci√≥n t√≠pica (ra√≠z cuadrada de la varianza)
print(s.std())

In [ ]:
# Resumen estad√≠stico (count, mean, std, min, percentiles, max)
print(s.describe())

# 7.- APLICAR OPERACIONES A UNA SERIE

In [ ]:
import pandas as pd

In [ ]:
# Serie con valores num√©ricos
s = pd.Series([1, 2, 3, 4])

In [ ]:
# Multiplica cada valor de la Serie por 2
print(s * 2)

In [ ]:
# Resto de cada valor dividido entre 2 (m√≥dulo)
print(s % 2)

In [ ]:
# Serie con valores de texto
s = pd.Series(['a', 'b', 'c']) 

# Repite cada cadena 5 veces (operaci√≥n con strings)
print(s * 5)

# 8.- APLICAR FUNCIONES A UNA SERIE

## üìåEJEMPLO 10: EJEMPLO DE SERIES CON VALORES NUM√âRICOS

In [ ]:
import pandas as pd
from math import log

In [ ]:
# Serie con valores num√©ricos
s = pd.Series([1, 2, 3, 4])

In [ ]:
# Aplica la funci√≥n logaritmo a cada elemento de la Serie
s.apply(log)

## üìåEJEMPLO 11: EJEMPLO DE SERIES CON VALORES DE TEXTO

In [ ]:
# Serie con valores de texto
s = pd.Series(['a', 'b', 'c'])

# Aplica la funci√≥n str.upper a cada elemento (convierte a may√∫sculas)
s.apply(str.upper)

# 9.- FILTRAR UNA SERIE

In [ ]:
import pandas as pd

In [ ]:
# Serie con asignaturas como √≠ndice y notas como valores
s = pd.Series({'Matem√°ticas': 6.0,  'Econom√≠a': 4.5, 'Programaci√≥n': 8.5})

In [ ]:
# Devuelve una Serie booleana: True si el valor > 5, False en caso contrario
print(s > 5)

In [ ]:
# Filtra la Serie: muestra solo los elementos cuyo valor es > 5
print(s[s > 5])

# 10.- ORDENAR UNA SERIE

## üìåEJEMPLO 12: ORDENAR SERIE DESDE UN DICCIONARIO

In [ ]:
import pandas as pd

In [ ]:
# Serie con asignaturas como √≠ndice y notas como valores
s = pd.Series({'Matem√°ticas': 6.0,  'Econom√≠a': 4.5, 'Programaci√≥n': 8.5})

In [ ]:
# Ordena la Serie por valores (de menor a mayor)
print(s.sort_values())

In [ ]:
# Ordena la Serie por √≠ndice en orden descendente
print(s.sort_index(ascending=False))

## üìåEJEMPLO 13: ORDENAR SERIE DESDE UNA LISTA

In [ ]:
# Serie con nombres de estudiantes como √≠ndice y notas como valores
indice = ["Juan", "Maria", "Francisco", "Pedro", "Luis"]
datos_lista = [40, 20, 36, 34, 20]
serie = pd.Series(datos_lista, index=indice, dtype="i8")

In [ ]:
# Ordena la Serie por valores (modifica la Serie original con inplace=True)
serie.sort_values(inplace=True)
print(serie)

In [ ]:
# Ordena la Serie por √≠ndice en orden alfab√©tico (tambi√©n modifica la Serie)
serie.sort_index(inplace=True)
print(serie)

# 11.- ELIMINAR LOS DATOS DESCONOCIDOS DE UNA SERIE

In [8]:
import pandas as pd
import numpy as np

In [9]:

# Serie con valores de texto y algunos nulos (None y np.NaN)
s = pd.Series(['a', 'b', None, 'c', np.nan, 'd'])
print(s)

0       a
1       b
2    None
3       c
4     NaN
5       d
dtype: object

In [10]:
# Elimina los valores nulos, devuelve una nueva Serie (no modifica la original)
s.dropna()

0    a
1    b
3    c
5    d
dtype: object

In [11]:
print(s)

0       a
1       b
2    None
3       c
4     NaN
5       d
dtype: object

In [12]:
# Elimina los valores nulos directamente en la Serie (modifica la original)
s.dropna(inplace=True)  # ‚ö†Ô∏è destructivo

In [13]:
print(s)

0    a
1    b
3    c
5    d
dtype: object

In [14]:
s.dtypes

dtype('O')