### EJERCICIO 1.- Importación y exploración inicial

##### Crea un nuevo cuaderno de Python y realiza los siguientes pasos:

In [12]:
#1. Importa la librería pandas con el alias habitual.
import pandas as pd

In [13]:
#2. Comprueba la versión instalada mediante pd.__version__.
pd.__version__

'2.2.3'

#### 3. Muestra todas las funciones disponibles escribiendo pd. y usando el autocompletado (explica brevemente lo que observas).

##### Salen estos valores:

##### pd.DataFrame: Estructura en dos dimensiones(tablas), se construyen a partir de arrays
##### pd.Series: Estructura en una dimensión, se construyen a partir de arrays

#####

#### 4. Añade un comentario en tu cuaderno explicando para qué sirve Pandas dentro del análisis de datos, según lo leído en tus apuntes.
##### Facilita desde la lectura de ficheros hasta la preparación de datos de modelos Machine Learning

#####

### Ejercicio 2. Crear tu primera Serie

In [36]:
#1. Crea una Serie con los nombres de cinco asignaturas de un curso.
asignaturas=["OPT","DES","DEC","DPA","DIW"]
print(asignaturas)

['OPT', 'DES', 'DEC', 'DPA', 'DIW']

In [37]:
#2. Crea otra Serie con las notas numéricas correspondientes (de 0 a 10).
notas=[10,5,6,8,7]
print(notas)

[10, 5, 6, 8, 7]

In [43]:
#3. Asigna los nombres de las asignaturas como índice de la Serie de notas.
serie = pd.Series(notas,index=asignaturas)

In [44]:
#4. Muestra por pantalla: 
#    o Los valores de la Serie. 
#    o El índice. 
#    o El tipo de datos (dtype).
#    o El número de elementos (size).
print(serie)
print(serie.size)

OPT    10
DES     5
DEC     6
DPA     8
DIW     7
dtype: int64
5

In [ ]:
#5. Escribe una breve observación sobre la diferencia entre índices y valores.

### Ejercicio 3. Series con diccionarios

In [ ]:
#1. Crea un diccionario en Python donde las claves sean los nombres de estudiantes y los valores sus calificaciones.

In [ ]:
#2. Convierte el diccionario en una Serie de pandas.

In [ ]:
#3. Muestra por pantalla: 
#    o La Serie completa. 
#    o El valor asociado a un estudiante concreto usando su nombre como índice.

In [3]:
#4. Añade un comentario sobre la ventaja de usar un diccionario frente a una lista al crear una Serie.

### Ejercicio 4. Crear tu primer DataFrame

In [4]:
#1. Crea un diccionario con los siguientes datos (cada clave será una columna): 
#    o nombre → cuatro nombres de personas. 
#    o edad → sus edades. 
#    o correo → sus direcciones de correo.

In [ ]:
#2. Convierte el diccionario en un DataFrame y asígnalo a una variable df.

In [ ]:
#3. Muestra la tabla completa.

In [ ]:
#4. Utiliza los métodos: 
#    o df.info() para obtener la información general. 
#    o df.shape para ver el tamaño. 
#    o df.dtypes para ver los tipos de datos.

In [5]:
#5. Comenta brevemente qué diferencia hay entre una Serie y un DataFrame.

### Ejercicio 5. Acceso y primeras transformaciones

In [ ]:
#1. A partir del DataFrame anterior: 
#    o Muestra la primera fila con df.head(1). 
#    o Selecciona solo la columna nombre. 
#    o Añade una nueva columna llamada curso con el valor "DAW2" para todos los registros.
#    o Cambia el nombre de la columna correo por email.

In [ ]:
#2. Muestra el resultado final.

In [ ]:
#3. Escribe un comentario explicando por qué los DataFrames son estructuras adecuadas para trabajar con datos tabulares en análisis de datos.

### Ejercicio 6 – Análisis inicial de un conjunto de datos

In [ ]:
#1. Carga el archivo ventas.csv con read_csv().

In [ ]:
#2. Muestra: 
#    o El número de filas y columnas (shape). 
#    o Los nombres de las columnas (columns). 
#    o Las 5 primeras filas (head()).

In [ ]:
#3. Calcula la media, máximo, mínimo y desviación típica de la columna importe.

In [ ]:
#4. Añade una columna llamada IVA con el 21 % del importe de cada venta.

In [ ]:
#5. Muestra el resultado y guarda el nuevo DataFrame como ventas_modificado.csv.

### Ejercicio 7 – Creación de columnas condicionales

In [ ]:
#Se trabaja con el fichero democanarias.csv.

In [ ]:
#1. Carga el fichero y muestra las columnas disponibles.

In [ ]:
#2. Añade una nueva columna Ayuda siguiendo estas condiciones: 
#    o Si Area < 1000 → Ayuda = 30 % de la Popula on. 
#    o En caso contrario → Ayuda = 20 % de la Popula on.

In [ ]:
#3. Convierte la nueva columna a tipo float64.

In [1]:
#4. Sustituye la columna Island por un índice con los nombres de las islas.

In [ ]:
#5. Guarda el resultado en un nuevo CSV canarias_ayudas.csv.

### Ejercicio 8 – Limpieza y análisis básico de un dataset

In [ ]:
#Usando el archivo titanic.csv:

In [3]:
#1. Carga el archivo y muestra información general (info(), shape, dtypes).

In [4]:
#2. Muestra las 10 primeras y 10 últimas filas.

SyntaxError: invalid syntax (1102536079.py, line 1)

In [5]:
#3. Calcula el porcentaje de pasajeros que sobrevivieron y los que no.

In [ ]:
#4. Elimina las filas donde la edad (Age) sea nula.

In [6]:
#5. Añade una columna booleana menor que indique si el pasajero tiene menos de 18 años.

In [ ]:
#6. Muestra el número total de menores y mayores de edad.

In [ ]:
#7. Guarda el nuevo DataFrame en titanic_limpio.csv.